:root {
  --color-btn-bg: #343434;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-error: #ff5959;
  --color-primary: #66ff7f;
  --color-gray: #969696;
  --color-btn-disabled: #4a4949;
}
